@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');
*{
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;

}
header{
    background-image: url('./images/headphones_hero_1.jpg');
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#nav-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
#nav-section ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: center;
    gap: 5px;
    
}

#nav-section ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 10px;
    font-size: 14px;
}

.content1{
    width: 100%;
    max-width: 1000px;        /* Set your desired max width */
    margin-top: 200px;
    display: inline-block;
    text-align: center;
    color:white;
    position: relative;
}
.text{
    margin: 0px;
    padding: 0px;
    margin-bottom: 100px;
    align-items: center;
}

.call-to-action{
    background-color: #FF6565;
    color: white;
    border-radius: 8px;
    padding: 10px;
    border: none;
}

a:hover, a:active{
    background-color: #FF6565;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#whatweDo{
    
    padding-top: 100px;
    width: 100%;
    max-width: 1000px;        /* Set your desired max width */
    margin-top: 100px;
    display: inline-block;
    text-align: center;
    position: relative;
}
.whatweDo1{
    display: inline-block;
    width: 100%;
    margin-bottom: 100px;
    max-width: 600px;
    align-items: center;
    position: inherit;
}

.whatweDo2{
    display: flex;
    flex-direction: row;
}
#whatweDo img{
    width: 100px;
}

#ourResults{
    background-image: url('./images/headphones_hero_2.jpg');
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    text-align: center;
    
}

#ourResults-text {
    max-width: 1000px;
    color: white;
}
#ourResults-text h2{
    margin-top: 100px;
}
#ourResults-text p{
    margin-top: 50px;
}
#ourResults-shapes{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around; 
    align-items: center;
    gap: 30px;;  
    margin-bottom: 100px;
}


.ourResults-div{
    position: relative;
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.ourResults-div img{
    display: block;
    width: 200px;
    height: auto;
}
.inside-text{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0px;
    padding: 0px;
    transform: translate(-50%,-50%);
}

.inside-text h2{
    font-weight:900;
    font-size: 2rem;
    padding: 0px;
}

