



header{
    
    justify-content: space-between;
    width: 100%;
    height: 29.46px;
    top: 35.02px;
    left: 1px;
    box-sizing: border-box;
    background-color: burlywood;
   
   
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: transparent !important;
}


nav>ul>li{
    display: inline-block;
    width: 70px;
    padding: 0px;
    background-color: transparent;
        
}
li a{
    color:white;
}
  
.logo{
    width: 60px;
    height: 60px;
    background-color: transparent;
}  

body {
    width: 100%;
    background: transparent !important;
}

.bgimg_1{
    background-color: burlywood;
    background-repeat: no-repeat;
    background-attachment:scroll;
    width: 100%;
    background-size: 100%;
    
}
div.topic-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#register{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.faq{
    display: block;
}
.faqcol{
    display: block;
}
.faqrow1{
    display: flex;
}
.faqrow2{
    display: flex;
    margin-top: 20px;
}

.faqrow1col{
display: block;
}
.topic{
    height: 1093px;
}

.testimonials{
    background: #C271FF;
    height: 392px;
    display: flex;
    align-items: center;
    justify-content: left;
    
}

.testimonial_quote.clear-flex{
    display:block;
    margin-left: 50px;
    justify-content: left;
    
}
.testimonial_quote>blockquote>h3>p{
    text-align: left;
}

.tutorials{
width: 100%;
opacity: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.tutorials_flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    margin:0px
    
    
}
#tutorials_img1 {
    width: 100px;
    height: 100px;
}
#tutorials_img2 {
    width: 100px;
    height: 100px;
}
#tutorials_img3 {
    width: 100px;
    height: 100px;
}
#tutorials_img4 {
    width: 100px;
    height: 100px;
}

.rating{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    text-align: left;
    margin-top: 10px;
}
.reviewer_img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.stars{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.stars-and-time {
    display: flex;
    align-items: center;
    gap: 100px;
    
}

main{
    display: block;
}

h1{
font-family: Source Sans Pro;
font-weight: 700;
font-size: 120px;
line-height: 100%;
letter-spacing: 0px;
text-align: center;

}
.membership{
    display: block;
}

.membership>h2{
    text-align: center;
}

.membership_block{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px;
}

#register{
    text-align: center;
    ;

}

.learn-from-pros{
    text-align: center;
}
.profiles{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.profiles img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#kfc_logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.footer_section{
    display: block;
}
.footer-row{
    display: flex;
    justify-content: space-between;
}

footer>section>p{
    text-align: center;
}