header{
    
    justify-content: space-between;
    width: 1103.41px;
    height: 29.46px;
    top: 35.02px;
    left: 1px;
    box-sizing: border-box;
    background-color: transparent;
   
   
}

nav{
    display: flex;
    justify-content: space-between;
    border: solid gray 1px;
    
}


nav ul li{
    display: inline-block;
    width: 234;
    height: 15;
    top: 37px;
    left: 1041px;
    opacity: 1;

}

#logo{
    width: 60px;
    height: 60px;
}   


main{
    background-image: url(./images/13.png);
    background-repeat: no-repeat;
    width: 100%;
    
}